/EjPoo/nbproject/private/
/EjPoo/build/
/Ej1Libro/nbproject/private/
/Ej1Libro/build/
/Ej2/nbproject/private/
/Ej3/nbproject/private/
/Ej3/build/
/Ej4/nbproject/private/
/Ej4/build/
/Ej5/nbproject/private/
/Ej5/build/
/Ej6/nbproject/private/
/Ej6/build/
/Ej7/nbproject/private/
/Ej7/build/
/ActividadExtraEj1/nbproject/private/
/ActividadExtraEj1/build/
/ActividadExtraEj2/nbproject/private/
/Ej8/nbproject/private/
/Ej8/build/
/Ej10/nbproject/private/
/Ej10/build/
/Ej11/nbproject/private/
/Ej11/build/
/Ej12/nbproject/private/
/Ej12/build/
/Ej13/nbproject/private/
/Ej13/build/
/Ej14/nbproject/private/
/Ej14/build/